<div class="content" role="main">
  <div>IS FORM VALID?: {{this.conversionForm.valid}}</div>
  <!-- WORKING HERE :: componentize application -->
  <form [formGroup]="conversionForm">
    <mat-form-field appearance="fill">
      <!-- WORKING HERE :: convert to search field with search results set above all currencies
      as seen here https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=EUR -->
      <mat-label>From Currency:</mat-label>
      <mat-select formControlName="fromCurrency" placeholder="Select a currency">
        <mat-option *ngFor="let currency of allCurrenciesFormatted" [value]="currency.currencyCode">
          {{ currency.currencyCode }}: {{ currency.currencyName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button color="primary" aria-label="Swap horizontal icon" (click)="handleSwap()">
      <mat-icon>swap_horiz</mat-icon>
    </button>

    <mat-form-field appearance="fill">
      <mat-label>To Currency:</mat-label>
      <mat-select formControlName="toCurrency" placeholder="Select a currency">
        <mat-option *ngFor="let currency of allCurrenciesFormatted" [value]="currency.currencyCode">
          {{ currency.currencyCode }}: {{ currency.currencyName }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <label>
      <!-- WORKING HERE :: use mat-input -->
      Value From:
      <input type="text" formControlName="fromValue">
    </label>
  </form>

  <div *ngIf="conversionResult">
    <!-- WORKING HERE :: display values -->
    {{ conversionResult.response | json }}
  </div>

</div>
