<form [formGroup]="conversionForm">
  <mat-form-field>
    <mat-label>Convert From Currency</mat-label>
      <input
        matInput
        formControlName="fromSearch"
        placeholder="Ex. Bitcoin"
        [matAutocomplete]="autoFrom"
        (focus)="handleFocus(fromSearch.value)">
      <mat-autocomplete #autoFrom="matAutocomplete">
      <mat-option *ngFor="let coin of (currencyFilter$ | async)" [value]="coin.name" (click)="handleOptionClick(fromCurrency, coin)">
        {{ coin.symbol.toUpperCase() }}: {{ coin.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-icon-button aria-label="horizontal swap icon button" (click)="handleSwap()">
    <mat-icon aria-hidden="false" aria-label="swap horizontal">swap_horiz</mat-icon>
  </button>

  <mat-form-field>
    <mat-label>Convert To Currency</mat-label>
      <input
        matInput
        formControlName="toSearch"
        placeholder="Ex. Bitcoin"
        [matAutocomplete]="autoTo"
        (focus)="handleFocus(toSearch.value)">
      <mat-autocomplete #autoTo="matAutocomplete">
      <mat-option *ngFor="let coin of (currencyFilter$ | async)" [value]="coin.name" (click)="handleOptionClick(toCurrency, coin)">
        {{ coin.symbol.toUpperCase() }}: {{ coin.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input type="number" matInput formControlName="fromValue">
  </mat-form-field>
</form>

<div *ngIf="priceResult.value && conversionForm.valid">
  <div *ngIf="fromValue.value > 1">
    {{ fromValue.value }}x {{ fromCurrency.value.symbol.toUpperCase() }} = {{ priceResult.value * fromValue.value }} {{ toCurrency.value.symbol.toUpperCase() }}
  </div>
  <div>
    1 {{ fromCurrency.value.symbol.toUpperCase() }} = {{ priceResult.value }} {{ toCurrency.value.symbol.toUpperCase() }}<br>
    1 {{ toCurrency.value.symbol.toUpperCase() }} = {{ 1 / priceResult.value }} {{ fromCurrency.value.symbol.toUpperCase() }}
  </div>
</div>

<app-market-history
  *ngIf="this.conversionForm.valid"
  [coinId]="fromCurrency.value.id"
  [vsCurrency]="toCurrency.value.symbol">
</app-market-history>
