<!-- WORKING HERE :: convert to search field with search results set above all currencies
  as seen here https://www.xe.com/currencyconverter/convert/?Amount=1&From=USD&To=EUR -->

<form [formGroup]="conversionForm" class="conversion-form">
  <mat-form-field>
    <mat-label>Convert From Currency</mat-label>
      <input
        matInput
        formControlName="fromSearch"
        placeholder="Ex. Bitcoin"
        [matAutocomplete]="autoFrom"
        (focus)="handleFocus(fromSearch.value)">
      <mat-autocomplete #autoFrom="matAutocomplete">
      <mat-option *ngFor="let coin of (currencyFilter$ | async)" [value]="coin.name" (click)="handleOptionClick(fromCurrency, coin)">
        {{ coin.symbol.toUpperCase() }}: {{ coin.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-icon-button aria-label="horizontal swap icon button" (click)="handleSwap()">
    <mat-icon aria-hidden="false" aria-label="swap horizontal">swap_horiz</mat-icon>
  </button>

  <mat-form-field>
    <mat-label>Convert To Currency</mat-label>
      <input
        matInput
        formControlName="toSearch"
        placeholder="Ex. Bitcoin"
        [matAutocomplete]="autoTo"
        (focus)="handleFocus(toSearch.value)">
      <mat-autocomplete #autoTo="matAutocomplete">
      <mat-option *ngFor="let coin of (currencyFilter$ | async)" [value]="coin.name" (click)="handleOptionClick(toCurrency, coin)">
        {{ coin.symbol.toUpperCase() }}: {{ coin.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input type="number" matInput formControlName="fromValue">
  </mat-form-field>
</form>

<div *ngIf="priceResult && conversionForm.valid">
  <div *ngIf="fromValue.value > 1">
    {{ fromValue.value }}x {{ fromCurrency.value.symbol }} = {{ priceResult.value * fromValue.value }} {{ toCurrency.value.symbol }}
  </div>
  <div>
    1 {{ fromCurrency.value.symbol }} = {{ priceResult.value }} {{ toCurrency.value.symbol }}<br>
    1 {{ toCurrency.value.symbol }} = {{ 1/ priceResult.value }} {{ fromCurrency.value.symbol }}
  </div>
</div>
